@import '~antd/es/style/themes/default.less';


.title{
  font-size:20px;
  font-weight: bold;
}

.formRow{
  margin-bottom: 16px;
}


.quizContainer {
  margin-top:48px;
  .quizMain{
    background:#ffffff;
    height: 400px;
    padding: 20px 20px;
    border-radius: 10px;
  }
  .quizInfo{

    border-radius: 10px;
  }
}

.quizCard{
  background:#ffffff;
  margin: 0px 0px 40px 0px;
  border-radius: 10px;
  position: relative;
}

.cardRow{
  margin-bottom:16px;
}

.radioGroup{
  display: block;
  :global{
    .ant-radio-wrapper{
        display: block;
    }
  }
}

.firstPara{
  position: relative;
  height: 96px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 40px;
  .firParaInput{
    margin: 24px 24px 0px 24px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    font-size: 24px;
  }
  .buttonAdd{
    position: absolute;
    right: -48px;
    cursor: pointer;
    top: 62px;
  }
}

.buttonAddFirst{
  text-align: center;
}
.buttonGroups{
  float: right;
  //margin: 10px 10px;
}
.buttonNoBackground{
  float: right;
  margin-right: 16px;
}
.buttonAdd{
  position: absolute;
  right: -48px;
  cursor: pointer;
}
.buttonDelete{
  position: absolute;
  right: -48px;
  bottom: 48px;
  cursor: pointer;
}
.buttonEdit{
  position: absolute;
  right: 16px;
  bottom: 24px;
}
.quizConfig{
  margin-right: 16px;
}
.editGroup{
  margin-bottom: 20px;
}

.editModal{
  :global{
    .ant-modal-footer{
      text-align: center;
    }
  }
}

.innerQuizArea{
  margin: 0 16px 16px 0;
}

.addOption{
  width: 752px;
  height: 36px;
  line-height: 36px;
  border-radius: 4px;
  border: 1px dashed rgba(0, 153, 255, 0.45);
  text-align: center;
  margin-bottom: 24px;
  color:rgba(0, 153, 255, 1);
  cursor: pointer;
}

.popoverRow{
  cursor: pointer;
  &:hover{
    color:#2eabff;
  }
}

@media screen and (max-width: @screen-lg) {
  .contentLink {
    a {
      margin-right: 16px;
    }
  }
}
@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    padding-bottom: 30px;
  }
  .contentLink {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 1000px;
    a {
      margin-right: 16px;
    }
    img {
      margin-right: 4px;
    }
  }
}
