@import '~antd/es/style/themes/default.less';

.title{
  font-size:20px;
  font-weight: bold;
}

.formRow{
  margin-bottom: 16px;
}


.quizContainer {
  margin-top:48px;
  .quizMain{
    background:#ffffff;
    height: 400px;
    padding: 20px 20px;
    border-radius: 10px;
  }
  .quizInfo{
    // background:#ffffff;
    border-radius: 10px;
  }
}

.quizCard{
  background:#ffffff;
  margin: 0px 0px 40px 0px;
  border-radius: 10px;
}

.radioGroup{
  display: block;
  :global{
    .ant-radio-wrapper{
        display: block;
    }
  }
}

.buttonAddFirst{
  text-align: center;
}

.buttonGroups{
  float: right;
  //margin: 10px 10px;
}
.buttonNoBackground{
  float: right;
  margin-right: 16px;
}

.editGroup{
  margin-bottom: 20px;
}

.editModal{
  :global{
    .ant-modal-footer{
      text-align: center;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .contentLink {
    a {
      margin-right: 16px;
    }
  }
}
@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    padding-bottom: 30px;
  }
  .contentLink {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 1000px;
    a {
      margin-right: 16px;
    }
    img {
      margin-right: 4px;
    }
  }
}
