@import '~antd/es/style/themes/default.less';

.title{
  font-size:20px;
  font-weight: bold;
}

.buttonGroups{
  float: right;
  //margin: 10px 10px;
}
.testContainer{
  margin-top:24px;
  padding: 48px 72px 64px 48px;
  background: #fff;
  border-radius: 8px;
  :global{
    .ant-divider-horizontal.ant-divider-with-text{
      font-weight: 800;
    }
    .ant-divider-horizontal.ant-divider-with-text-left::before{
      width: 1%;
    }
  }
}

.testProcessPara{
  margin-bottom: 32px;
}

.configArea{
  margin-top: 32px;

}

.configAreaBorder{
  border-radius: 4px;
  border: 1px solid rgba(151, 151, 151, 0.45);
  margin: 4px 0px 0px 0px;

  .configAreaItem{
    margin: 18px 0px 18px 24px;

    .innerInput{
      display: inline;
      width: 64px;
      margin-right: 3px;
    }

  }
}

.formArea{
  text-align: right;

  :global{
    .ant-row{
      min-height: 48px;
    }
    .ant-select-arrow{
      margin-top: -8px;
    }
  }
}
.formTitle{
  margin-top: 4px;
  //text-align: left;
}
//.card{
//  width: ;
//}

.steps{
  margin-top: 32px;
  //margin-right: 64px;
  float: left;
  width: 10%;
}
.stepsContent{
}
.stepsAction{
  text-align: center;
  margin-top: 32px;
}

@media screen and (max-width: @screen-lg) {
  .contentLink {
    a {
      margin-right: 16px;
    }
  }
}
@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    padding-bottom: 30px;
  }
  .contentLink {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 1000px;
    a {
      margin-right: 16px;
    }
    img {
      margin-right: 4px;
    }
  }
}
