@import '~antd/es/style/themes/default.less';
@import './utils/utils.less';



.containerWrap{
  //background: #f0f2f5;

  :global{
    .ant-pro-page-container-warp{
      //visibility: hidden;
      //height:38px;
      margin-bottom: 24px;
    }
  }
}

.expandRow{
  td{
    padding: 0px 0px !important;
  }

  .expandRowText{
    margin-top: 12px;
    font-size: 14px;
    line-height: 24px;
  }
}


.buttonArea{
   margin-top: 30px;

  .buttonLeft{
    float: left;
  }
  .buttonRight{
    float: right;
  }

}

.editModal{

  :global{
    .ant-modal-header{
      display: none;
    }
    .ant-modal-footer{
      border-top: 0px solid;
      text-align: center;
    }
  }

  padding: 0 80px;

  .passportLabel{
   position: relative;
  }
  .passportLabel:before {
    content: '*';
    color: red;
    font-family: SimSun, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 4px;
    left: 20px;
  }

  .addressLabel{
    position: relative;
  }
  .addressLabel:before {
    content: '*';
    color: red;
    font-family: SimSun, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 4px;
    left: -5px;
  }

  .modalLabel{
    :global{
      .ant-form-item-label{
        //width: 320px;
        max-width: none;
        //flex:none;
        //margin-left:50px;
      }
    }

  }

}

.editInfoModal{

  :global{
    .ant-modal-header{
      display: none;
    }
    .ant-modal-footer{
      border-top: 0px solid;
      text-align: center;
    }
    .ant-modal-body{
      padding: 0 0 ;
    }
  }

  padding: 0 80px;

}



.pageHeaderContent {
  position: relative;
}

.contentLink {
  margin-top: 16px;
  a {
    margin-right: 32px;
    img {
      width: 24px;
    }
  }
  img {
    margin-right: 8px;
    vertical-align: middle;
  }
}

.infoContainer{
  //margin-top:24px;
  padding: 24px 0px 64px 0px;
  background: #fff;
  border-radius:8px;
  :global{
    .ant-divider-horizontal.ant-divider-with-text{
      font-weight: 800;
    }
    .ant-divider-horizontal.ant-divider-with-text-left::before{
      width: 1%;
    }
  }
}

@media screen and (max-width: @screen-lg) {
  .contentLink {
    a {
      margin-right: 16px;
    }
  }
}
@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    padding-bottom: 30px;
  }
  .contentLink {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 1000px;
    a {
      margin-right: 16px;
    }
    img {
      margin-right: 4px;
    }
  }
}
