@import '~antd/es/style/themes/default.less';

.title{
  font-size:20px;
  font-weight: bold;
}

.buttonGroups{
  float: right;
  //margin: 10px 10px;
}
.testContainer{
  //margin-top:24px;
  padding: 24px 0px 64px 0px;
  background: #fff;
  :global{
    .ant-divider-horizontal.ant-divider-with-text{
      font-weight: 800;
    }
    .ant-divider-horizontal.ant-divider-with-text-left::before{
      width: 1%;
    }
  }
}
.formArea{
  text-align: right;
}
.formTitle{
  margin-top: 4px;
}
//.card{
//  width: ;
//}
.bigPhoto{
  // background: white;
  overflow: hidden;
}

.photoArea{
  padding: 0px 8px 0px 8px;
  margin-bottom: 10px;
}

.photoScroll{
  height: 300px;
  overflow: auto;
}

:global{
  .selected{
    border: 3px solid #40a9ff;
  }
}

@media screen and (max-width: @screen-lg) {
  .contentLink {
    a {
      margin-right: 16px;
    }
  }
}
@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    padding-bottom: 30px;
  }
  .contentLink {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 1000px;
    a {
      margin-right: 16px;
    }
    img {
      margin-right: 4px;
    }
  }
}
