@import '~antd/es/style/themes/default.less';

.quizContainer {
  .quizInfo{
    background:#ffffff;
    padding-top: 20px;
  }
}

.quizCard{
  margin: 0px 40px 40px 40px;
}

.quizOptions {
  :global {
    .ant-radio-wrapper{
      display: block;
      margin-bottom: 20px;
    }
  }
}


@media screen and (max-width: @screen-lg) {
  .contentLink {
    a {
      margin-right: 16px;
    }
  }
}
@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    padding-bottom: 30px;
  }
  .contentLink {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 1000px;
    a {
      margin-right: 16px;
    }
    img {
      margin-right: 4px;
    }
  }
}
