@import '~antd/es/style/themes/default.less';
@import './utils/utils.less';



.containerWrap{
  background: #f0f2f5;

  :global{
    .ant-pro-page-container-warp{
      visibility: hidden;
      height:38px;
    }
  }
}



.buttonArea{
   margin-top: 30px;

  .buttonLeft{
    float: left;
  }
  .buttonRight{
    float: right;
  }

}

.editModal{
  padding: 0 80px;

  .passportLabel{
   position: relative;
  }
  .passportLabel:before {
    content: '*';
    color: red;
    font-family: SimSun, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 4px;
    left: 20px;
  }

  .addressLabel{
    position: relative;
  }
  .addressLabel:before {
    content: '*';
    color: red;
    font-family: SimSun, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 4px;
    left: -5px;
  }

}

.pageHeaderContent {
  position: relative;
}

.contentLink {
  margin-top: 16px;
  a {
    margin-right: 32px;
    img {
      width: 24px;
    }
  }
  img {
    margin-right: 8px;
    vertical-align: middle;
  }
}

@media screen and (max-width: @screen-lg) {
  .contentLink {
    a {
      margin-right: 16px;
    }
  }
}
@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    padding-bottom: 30px;
  }
  .contentLink {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 1000px;
    a {
      margin-right: 16px;
    }
    img {
      margin-right: 4px;
    }
  }
}
