@import '~antd/es/style/themes/default.less';

.title{
  font-size:20px;
  font-weight: bold;
}

.buttonGroups{
  float: right;
  //margin: 10px 10px;
}
.testContainer{
  //margin-top:24px;
  padding: 24px 0px 64px 0px;
  background: #fff;
  :global{
    .ant-divider-horizontal.ant-divider-with-text{
      font-weight: 800;
    }
    .ant-divider-horizontal.ant-divider-with-text-left::before{
      width: 1%;
    }
  }
}

.containerWrap{
  :global{
    .ant-pro-page-container-warp{
      background: none;
    }
    .ant-tabs-tab{
      padding: 0px 0px 12px 0px;
    }
    .ant-page-header{
      padding: 24px 192px 16px 48px;
    }
  }

}

.incidentsWord{
  height: 33px;
  font-size: 24px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  line-height: 33px;
  margin: 0px 0px 16px 0px;
}


.formArea{
  text-align: right;
}
.formTitle{
  margin-top: 4px;
}
//.card{
//  width: ;
//}
.bigPhotoArea{
  padding: 24px 24px 32px 24px;
  background: #ffffff;
}

.personName{
  margin-top: 10px;
  height: 40px;
  font-size: 20px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #000000;
  line-height: 40px;
}

.personInfo{
  margin-top: 16px;
  height: 22px;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  line-height: 22px;
}

.bigPhoto{
  // background: white;
  overflow: hidden;
}
.scoreInput{
  width: 100px;
  display: inline;
}

.photoArea{
  padding: 0px 0px 0px 0px;
  margin-bottom: 10px;
  margin: 4px 4px;
}

.cheatPic{
  border: 1px solid red;
}

.photoScroll{
  height: 300px;
  overflow: auto;
}

:global{
  .selected{
    border: 3px solid #40a9ff;
  }
}

@media screen and (max-width: @screen-lg) {
  .contentLink {
    a {
      margin-right: 16px;
    }
  }
}
@media screen and (max-width: @screen-md) {
  .extraImg {
    display: none;
  }
}

@media screen and (max-width: @screen-sm) {
  .pageHeaderContent {
    padding-bottom: 30px;
  }
  .contentLink {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 1000px;
    a {
      margin-right: 16px;
    }
    img {
      margin-right: 4px;
    }
  }
}
