:global{
  .ant-page-header-heading{
    display: none !important;
  }
  .ant-page-header{
    padding: 24px 192px 24px 48px !important;
  }
  .ant-pro-page-container-children-content{
    margin: 0px 192px 0px 48px !important;
  }
  .ant-popover-title{
    display: none !important;
  }
}
